<div class="weather-app">
  <div class="content" *ngIf="weather">
    <div class="row">
      <div class="search-container" [formGroup]="searchForm">
        <div class="left-container">
          <input type="text" class="search-input" placeholder="Enter City" formControlName="city">
        </div>
        <div class="right-container">
          <button class="search-button" (click)="searchWeather()">Search</button>&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="weather-content" *ngIf="weather">
    <div class="weather-header">
      <h1 class="city-name">{{ currentCity }}</h1>
      <p class="weather-description">{{ weather.weather[0].description }}</p>
    </div>

    <div class="weather-image">
      <img *ngIf="weather.weather[0].description === 'Partly cloudy' || weather.weather[0].description === 'Partly Cloudy'" src="../assets/images/partlycloudy.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Light rain shower'" src="../assets/images/lightrainshower.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Thunderstorm with rain'" src="../assets/images/thunderstormwithrain.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Patchy rain nearby'" src="../assets/images/patchyrain.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Clear'" src="../assets/images/clear.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Sunny'" src="../assets/images/sunny.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Overcast'" src="../assets/images/overcast.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Fog'" src="../assets/images/fog.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Patchy light rain with thunder'" src="../assets/images/patchythunder.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Light rain'" src="../assets/images/lightrain.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Moderate or heavy rain with thunder'" src="../assets/images/heavyrainthunder.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].description === 'Moderate or heavy rain shower'" src="../assets/images/heavyrain.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].main === 'Clouds'" src="../assets/images/cloud.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].main === 'Rain' && weather.weather[0].description !== 'Light rain'" src="../assets/images/rain.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].main === 'Clear'" src="../assets/images/clear.png" alt="Weather Image" class="section-image2">
      <img *ngIf="weather.weather[0].main === 'Snow'" src="../assets/images/snow.png" alt="Weather Image" class="section-image2">
    </div>
    <div class="weather-details">
      <div class="temperature">
        <p class="temperature-value">{{ selectedTemperatureUnit === 'celsius' ? weather.main.temp.toFixed(1) + '°C' : convertToFahrenheit(weather.main.temp) + '°F' }}</p>
      </div>
      <div class="temperature-options">
        <label for="temperatureUnit">Unit:</label>
        <select id="temperatureUnit" [(ngModel)]="selectedTemperatureUnit">
          <option value="celsius">Celsius (°C)</option>
          <option value="fahrenheit">Fahrenheit (°F)</option>
        </select>
      </div>
    </div>

    
  </div>

  <div class="forecast-content" *ngIf="forecast">
    <div class="forecast-days">
      <div class="forecast-day" *ngFor="let day of forecast">
        <h3>{{ day.dt_txt | date }}</h3>
        <div>
          <p>Condition: <span class="capitalize">{{ day.weather[0].description }}</span></p>
          <p>Wind Speed: {{ day.wind.speed }} m/s</p>
        </div>
        <div>
          <p>Max Temp: {{ selectedTemperatureUnit === 'celsius' ? day.main.temp_max.toFixed(1) + '°C' : convertToFahrenheit(day.main.temp_max) + '°F' }}</p>
          <p>Min Temp: {{ selectedTemperatureUnit === 'celsius' ? day.main.temp_min.toFixed(1) + '°C' : convertToFahrenheit(day.main.temp_min) + '°F' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
